.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__heading {
        font-size: $text-big-size + 20;

        & > span {
            color: $tertiary-color;
            text-shadow: 0 0 10px rgba(0,0,0,.3);
        }
    }

   &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        width: 65vw;
        height: 50vh;
        background-color: rgba($primary-color, .7);
        box-shadow: 0 0 10px rgba(0,0,0,.6);

        border-radius: 5px;

        & > * {
            margin: $m-medium 0;
        }
   }

    &__btn {
        position: relative;
        padding: $p-medium;
        font-size: $text-small-size;
        cursor: pointer;
        background-color: transparent;
        color: $secondary-color;
        font-weight: bold;
        border: 2px solid $tertiary-color;
        border-radius: 4px;
        text-transform: uppercase;
        outline: none;
        transition: all .2s linear;

        &:hover {
            background-color: $primary-color;
            color: $tertiary-color;
            box-shadow: 0 0 10px rgba(0,0,0,.3);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    &__span {
        margin-right: 20px;
    }

    &__select-box {
        cursor: pointer;
        margin-right: 20px;
        padding: 5px 20px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        color: $secondary-color;
        border: 2px solid $tertiary-color;
        border-radius: 4px;
        outline: none;

        &:hover {
            background-color: $primary-color;
        }
    }
}