.game {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    display: flex;
    color: #02adbf;
    font-weight: bold;

    &__side-left {
        width: 20%;
        background-color: $primary-color-lighter;
        border-right: 2px solid $secondary-color;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        &  > div {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            & > p {
                width: 80%;
                text-align: center;
                margin: 5px 0;
                font-size: 25px;
                padding: 5px 0;
                border-radius: 4px;

                &:nth-last-of-type(1) {
                    background-color: $secondary-color;
                    font-size: 25px;
                    border: 2px solid #02adbf;
                }
            }
        }
    }

    &__reset {
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        color: $tertiary-color;
        font-weight: bold;
        border: 2px solid $tertiary-color;
        transition: all .2s linear;

        &:hover {
            background-color: #02adbf;
            color: $secondary-color
        }
    }

    &__side-right {
        flex: 1;
    }

    &__header {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        height: 60%;
        border-top: 2px solid $secondary-color;
        display: flex;
    }

    &__word {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        &-current {
            font-size: 24px;
            font-weight: bold;
        }
    }

    &__message {
        height: 50px;
        background-color: $primary-color;
        width: 100%;
        border: 2px solid $secondary-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 2px solid $tertiary-color;
        outline: none;
        background: transparent;
        color: $tertiary-color;
        font-size: 20px;

        &::placeholder {
            color: #02adbf;
        }
    }
    
}

.current-word {
    margin-left: 10px;
    background-color: $secondary-color;
    padding: 10px;
    border-radius: 4px;
}