.points {
    margin-top: $m-small * 2;

    &__win {
        width: 150px;
        background-color: transparent;
        border: 2px solid $tertiary-color;
        border-radius: 4px;
        color: $secondary-color;
        padding: $p-small - 5;
    }
}