//COLORS
$primary-color: #272936;
$primary-color-lighter: #3b3d49;
$secondary-color: #fff;
$tertiary-color: #02adbf;
//END COLORS

// font family
$main-font: 'Montserrat', sans-serif;

// font sizes
$text-big-size: 24px;
$text-medium-size: 20px;
$text-small-size: 16px;
$text-xs-size: 12px;

// padding
$p-small: 10px;
$p-medium: 20px;
$p-big: 30px;

//margin
$m-small: 10px;
$m-medium: 20px;
$m-big: 30px;