//COLORS
$primary-color: rgb(73, 69, 69);
$secondary-color: #ddd;
$tertiary-color: #5fa9fd;
//END COLORS

// font family
$main-font: 'Montserrat', sans-serif;

// font sizes
$text-big-size: 24px;
$text-medium-size: 20px;
$text-small-size: 16px;
$text-xs-size: 12px;

// padding
$p-small: 10px;
$p-medium: 20px;
$p-big: 30px;

//margin
$m-small: 10px;
$m-medium: 20px;
$m-big: 30px;