//COLORS
$primary-color: #A1E8CC;
$secondary-color: #C5DECD;
$tertiary-color: #495159;
//END COLORS

// font family
$main-font: 'Roboto Mono', monospace;

// font sizes
$text-big-size: 24px;
$text-medium-size: 20px;
$text-small-size: 16px;
$text-xs-size: 12px;

// padding
$p-small: 10px;
$p-medium: 20px;
$p-big: 30px;

//margin
$m-small: 10px;
$m-medium: 20px;
$m-big: 30px;