.markup {
    width: 100%;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: $text-xs-size + 3;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}